# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local SQLite database
db.sqlite3

# Log files
*.log


# Django fixtures (JSON backups)
fixtures/*.json
*/fixtures/*.json

# Cache & temporary files
.cache/
*.tmp
*.swp

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node modules (if you add frontend later)
node_modules/

# Static files (collected)
staticfiles/
